@font-face {
  font-family: "GothamBold";
  src: url("../fonts/Gotham-Font/GothamBold.ttf");
}

@font-face {
  font-family: "GothamBoldItalic";
  src: url("../fonts/Gotham-Font/GothamBoldItalic.ttf");

}

@font-face {

  font-family: "GothamBook";
  src: url("../fonts/Gotham-Font/GothamBook.ttf");

}

@font-face {

  font-family: "GothamBookItalic";
  src: url("../fonts/Gotham-Font/GothamBookItalic.ttf");

}

@font-face {

  font-family: "GothamLight";
  src: url("../fonts/Gotham-Font/GothamLight.ttf");

}

@font-face {

  font-family: "GothamLightItalic";
  src: url("../fonts/Gotham-Font/GothamLightItalic.ttf");

}

@font-face {

  font-family: "GothamMedium";
  src: url("../fonts/Gotham-Font/GothamMedium.ttf");

}

@font-face {

  font-family: "GothamMedium_1";
  src: url("../fonts/Gotham-Font/GothamMedium_1.ttf");

}

@font-face {

  font-family: "GothamMediumItalic";
  src: url("../fonts/Gotham-Font/GothamMediumItalic.ttf");

}

@font-face {

  font-family: "Gotham-Ultra";
  src: url("../fonts/Gotham-Ultra/Gotham Ultra.otf");

}

@font-face {

  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Font/Gotham-Black.otf");

}

@font-face {

  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Font/Gotham-Bold.otf");

}

@font-face {

  font-family: "Gotham-BookItalic";
  src: url("../fonts/Gotham-Font/Gotham-BookItalic.otf");

}

@font-face {

  font-family: "Gotham-Light";
  src: url("../fonts/Gotham-Font/Gotham-Light.otf");

}

@font-face {

  font-family: "Gotham-Thin";
  src: url("../fonts/Gotham-Font/Gotham-Thin.otf");

}

@font-face {

  font-family: "Gotham-ThinItalic";
  src: url("../fonts/Gotham-Font/Gotham-ThinItalic.otf");

}

@font-face {

  font-family: "Gotham-UltraItalic";
  src: url("../fonts/Gotham-Font/Gotham-UltraItalic.otf");

}

@font-face {

  font-family: "Gotham-XLight";
  src: url("../fonts/Gotham-Font/Gotham-XLight.otf");

}

@font-face {

  font-family: "Gotham-XLightItalic";
  src: url("../fonts/Gotham-Font/Gotham-XLightItalic.otf");

}

@font-face {

  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");

}