.logo__container{
  grid-area: logo__container;
}
.phone__container{
  grid-area: phone__container;
}
.menu__container{
  grid-area: menu__container;
}
.pages__block__header{
  grid-area: header;
}
.boy{
  grid-area: boy;
}
.pages__block__footer{
  grid-area: footer;
}
.arrow__container{
  grid-area: arrow__container;
}
.pages__block__uploading{
  grid-area: uploading;
}
.pages__block__designers{
  grid-area: designers;
}
.arrow__round{
  grid-area: arrow__round;
}
.pages__block__scroll{
  grid-area: scrolling;
}
.article__date{
  grid-area: article__date;
}
.dots{
  grid-area: dots;
}
.content{
  grid-area: content;
}
